[role="tablist"] {
  display: flex;
  justify-content: center;
  align-items: center;
  &:is(ul) {
    list-style: none;
  }
}

[role="tab"] {
  margin: 0 5px 5px 0;
  padding: 6px 30px 9px;
  cursor: pointer;
  transform: skew(-20deg);
  color: #616161;
  background: #dddddd;
}

[role="tab"][aria-selected="true"] {
  font-weight: bold;
  color: #ffffff;
  background: #D43616;
}

[role="tab"]:focus,
[role="tab"]:hover {
  outline: 3px dashed #D43616;
  outline-offset: 2px;
}

[role="tabpanel"][hidden] {
    display: none;
}
